/* 보통 폰트 가중치. 400 과 같음. */
h1 {
  font-weight: normal;
}

/* 굵은 폰트 가중치. 700 과 같음. */
p {
  font-weight: bold;
}

/* 100, 200, 300, 400, 500, 600, 700, 800, 900
normal 과 bold 이외를 제공하는 폰트를 위한 숫자형 폰트 가중치. */
li {
  font-weight: 500; /* Medium */
}
