body {
  font-family: "Roboto", sans-serif;
  width: 500px;
  margin: 0 auto;
}

p {
  background: #eaeaea;
  padding: 10px;
  border-radius: 5px;
}

.parent {
  position: relative; /* make positioned's position context */
  background: #47ACE2;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.positioned {
  position: absolute;
  left: 200px;
  top: 20px;
  background: #333;
  color: rgba(255, 255, 255, .95);
}

.at-top {
  z-index: 400;
  position: relative;
}
