body {
  line-height: normal;
  font-family: 'Roboto', sans-serif;
}

.app-bar {
  box-sizing: border-box;
  height: 56px;
  background-color: #009688;
  color: white;
  font-size: 20px;
  padding-left: 16px;
  padding-top: 14px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.contents {
  padding-top: 62px;
}

.section-header {
  box-sizing: border-box;
  height: 48px;
  font-size: 14px;
  color: #009789;
  padding-left: 16px;
  padding-top: 14px;
}

.file-section,
.user-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.file-list,
.user-list {
  margin-bottom: 8px;
}

.file-list-item {
  padding: 14px 16px;
}

.file-list-item h4 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 24px;
}

.file-list-item p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  line-height: 20px;
}

.user-list-item {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}

.note-section > p {
  font-size: 14px;
  line-height: 24px;

  margin: 16px;
  margin-top: 0;

  color: rgba(0, 0, 0, 0.87);
}
