* {
  box-sizing: border-box;
}


body {
  margin: 0; padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #eee;
}

button {
  cursor: pointer;
}

.app-bar {
  position: fixed;
  top: 0; left: 0; right: 0;
  padding: 0 24px;
  height: 64px;
  background-color: #009688;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  overflow: auto;
}

.app-bar .app-bar__left {
  float: left;
  overflow: auto;
}

.app-bar .app-bar__left .menu-button {
  float: left;
  margin-top: 20px;
  margin-right: 32px;
}

.app-bar .app-bar__left h1 {
  float: left;
  margin: 0;
  margin-top: 18px;
  margin-right: 60px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.app-bar .search-bar {
  display: block;

  margin: 0;
  margin-top: 8px;
  padding: 14px;
  padding-left: 76px;
  border: 0;
  border-radius: 2px;
  width: 722px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.18);
  background-image: url('search.svg');
  background-repeat: no-repeat;
  background-position: 19px 14px;

  font-size: 16px;
  color: white;
  outline: 0;
}

.app-bar .search-bar::placeholder {
  color: rgba(255, 255, 255, 0.7);
}


.app-bar__right {
  float: right;
  margin-top: 20px;
  overflow: auto;
}

.app-bar__right .icon-button {
  float: left;
  margin-left: 16px;
}

.app-bar__right .icon-button:first-child {
  margin-left: 0;
  display: none;
}

.contents {
  margin-top: 64px;
  margin-bottom: 48px;
}

.container {
  margin: 0 auto;
  width: 924px;
}

h2 {
  margin: 0;
  padding: 14px 12px 15px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

.file-section {
}

.file-list {
  margin: 0;
  padding: 0;

  overflow: auto;
}

.file-list-item {
  float: left;

  margin: 0 12px;
  margin-bottom: 8px;

  padding: 16px 14px;
  padding-right: 10px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  width: 284px;

  background-color: white;
  list-style-type: none;
  overflow: auto;
}

.file-list-item .file-list-item__info {
  float: left;
}

.file-list-item .icon-button {
  float: right;
  margin-top: 8px;
}

.file-list-item h3 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

.file-list-item .file-list-item__subtitle {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
}

.file-list-item .icon-button {
  float: right;
}

.user-section {
}

.user-list {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.user-list-item {
  float: left;

  margin: 0 12px;
  margin-bottom: 8px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  width: 284px;
  background-color: white;

  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

.user-list-item .user-list-item__thumbnail {
  margin-right: 16px;
  width: 100%;
  padding-top: 100%;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user-list-item .user-list-item__info {
  height: 56px;
  overflow: auto;
}
.user-list-item .user-list-item__name {
  float: left;
  margin-top: 17px;
  margin-left: 16px;
}

.user-list-item  .icon-button {
  float: right;
  margin-top: 16px;
  margin-right: 10px;
}

.note-section {

}

.note-section p {
  margin: 0 12px;
  margin-top: 0;
  border: solid 1px rgba(0, 0, 0, 0.12);
  padding: 16px 24px;

	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

.footer {
  padding-top: 56px;
  height: 132px;
  background-color: #333333;

  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #ff3f6f;
  border: 0;
  border-radius: 100%;
  width: 56px; height: 56px;
}

.fab img {
  display: block;
  margin: 0 auto;
}

.icon-button {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background: none;
}
